.footer
{
    .__popular,
    .__main
    {
        background-color: $dark;
    }

    .__popular
    {
        background-image: url('./assets/img/Vector-bg.svg');
        h3
        {
            text-align: center;
            color: $light;
        }

        .__link
        {
            display: block;
            width: 350px;
            height: 250px;
            margin-right: auto;
            margin-bottom: 10px;
            margin-left: auto;
            padding: 10px;
            background-color: $light;

            h3
            {
                max-width: 230px;
                text-align: left;
                color: $dark;

                &:after
                {
                    display: inline-block;
                    margin-bottom: 2px;
                    padding: 4px;
                    content: '';
                    -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                    border: solid $primary_highlight;
                    border-width: 0 2px 2px 0;
                }
            }

            img
            {
                display: block;
                width: 130px;
                height: auto;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}
@media only screen and (min-width: $desktop)
{
    .footer
    {
        .__popular
        {
            .__link
            {
                display: inline-grid;
                width: 333px;
                padding: 8px;
            }
        }
    }
}
