/* Colours */

$primary_highlight: #f39022;  //orange
$darker: #504e4f; //Font and dark bg
$dark: #707070; // light grey bg
$light: #fff;
$medium: #f6f6f6;

/* Media and screen widths*/
$mobile: 768px;
$desktop: 1120px;
