.header {
  background-color: $primary_highlight;

  .logo {
    position: relative;
    display: inline-block;
  }

  .cta-section {
    position: relative;
    display: inline-block;
    float: right;
    overflow: hidden;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
      font-weight: bold;
      display: block;
      margin-left: 40px;
      text-align: right;

      &.__btn-secondary {
        color: $light;

        &:hover {
          color: $dark;
        }
      }

      &.__btn-primary {
        padding: 10px 40px;
        color: $darker;
        border-radius: 10px;
        background-color: $light;

        &:hover {
          color: $primary_highlight;
        }
      }
    }
  }
}

.header-wrapper {
  .searchBarContainer {
    border-bottom: solid 1px $darker;
    max-width: 150px;

    input {
      border: none;
      max-width: 105px;

      &::placeholder {
        font-style: italic;
      }
    }

    button {
      border: none;
      background-color: unset;
    }
  }
}

.menu-glowne {
  ul {
    padding-left: 10px;

    li {
      position: relative;
      display: inline;
      margin-right: 25px;
      margin-left: 25px;
      list-style-type: none;
      text-align: center;
      text-transform: uppercase;

      a {
        font-size: 12px;
        font-weight: bold;
        color: $darker;

        &:hover {
          text-decoration: underline;
        }
      }

      &:not(:last-child) {
        &:after {
          display: inline-block;
          width: 10px;
          height: 6px;
          margin-left: 10px;
          content: '';
          vertical-align: middle;
          background-color: $darker;
        }
      }
    }
  }
}
@media only screen and (min-width: $desktop) {
  .header {
    .cta-section {
      a {
        display: inline-block;
      }
    }
  }

  .menu-glowne {
    display: inline-block;

    ul {
      margin: -10px;

      li {
        margin-left: 0;
        text-align: left;
      }
    }
  }

  .header-wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    background-color: $light;

    .searchBarContainer {
      display: inline-block;
    }
  }
}
